In [36]:
# 1. Function to select only rows where grades are greater than 90 and color is red or green

def grades_colors(students_df):
    return students_df[(students_df.grade > 90) & (students_df.favorite_color.isin(["green","red"]))]

In [37]:
# Test Case

import pandas as pd
students = {"name" : ["Tim Voss", "Nicole Johnson", "Elsa Williams", "John James", "Catherine Jones"], "age" : [19, 20, 21, 20, 23], "favorite_color" : ["red", "yellow", "green", "blue", "green"], "grade" : [91, 95, 82, 75, 93]}
students_df = pd.DataFrame(students)

grades_colors(students_df)

              name  age favorite_color  grade
0         Tim Voss   19            red     91
4  Catherine Jones   23          green     93

In [38]:
# 2. Function to return a dataframe containing every transaction with a value of over 100 dollars

def over_one_hundred_dollars(df_transactions, df_products):
    
    combined_data = df_transactions.merge(df_products, on = "product_id")
    combined_data["total_value"] = combined_data["price"] * combined_data["amount"]
    del combined_data["price"]
    
    return combined_data[(combined_data["total_value"])>100]

In [39]:
# Test case 

import pandas as pd
transactions = {"transaction_id" : [1, 2, 3, 4, 5], "product_id" : [101, 102, 103, 104, 105], "amount" : [3, 5, 8, 3, 2]}
products = {"product_id" : [101, 102, 103, 104, 105], "price" : [20.00, 21.00, 15.00, 16.00, 52.00]}
df_transactions = pd.DataFrame(transactions)
df_products = pd.DataFrame(products)

over_one_hundred_dollars(df_transactions, df_products)

   transaction_id  product_id  amount  total_value
1               2         102       5        105.0
2               3         103       8        120.0
4               5         105       2        104.0

In [51]:
# 3. Fill the NaN columns with median values
import pandas as pd
def cheese_median(df_cheeses):
    df_cheeses["median"] = df_cheeses["Price"].median()
    df_cheeses["Price"] = df_cheeses["Price"].fillna(df_cheeses["median"])
    
    del df_cheeses["median"]
    
    return df_cheeses

In [53]:
# Test case 

import pandas as pd
cheeses = {"Name": ["Bohemian Goat", "Central Coast Bleu", "Cowgirl Mozzarella", "Cypress Grove Cheddar", "Oakdale Colby"], "Price" : [15.00, None, 30.00, None, 45.00]}
df_cheeses = pd.DataFrame(cheeses)

cheese_median(df_cheeses)

                    Name  Price
0          Bohemian Goat   15.0
1     Central Coast Bleu   30.0
2     Cowgirl Mozzarella   30.0
3  Cypress Grove Cheddar   30.0
4          Oakdale Colby   45.0

In [59]:
# 4. Find the median inches of rainfall
def median_rainfall(df_rain):
    
    return df_rain[df_rain["Inches"]> 0]["Inches"].median()

In [62]:
# Test case 
import pandas as pd
rainfall = {"Day" : ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"], "Inches" : [0, 1.2, 0, 0.8, 1]}
df_rain = pd.DataFrame(rainfall)

median_rainfall(df_rain)

1.0